<div class="container">
  <h1 class="text-center">Restaurants</h1>
  <div class="mt-5 w-50 mx-auto">

    <% @restaurants.each do |restaurant| %>
      <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
    <% end %>
    <%= link_to 'New restaurant', new_restaurant_path, :class => "btn btn-primary"%>
  </div>
</div>
